@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;

    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(215.1 91.4% 52.9%);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
